
<div class="bb">
  <i class="fa fa-arrow-left fa-2x  post-comment" aria-hidden="true"></i>
</div>
<% (1..10).each do |number|%>
  <div class="bb">numbdasdadadadwd</div>
<%end%>
<div class="bb">
 <i class="fa fa-arrow-right fa-2x  post-comment" aria-hidden="true"></i>
</div>
