<%if stories.length > 0 %>
  <div class="bb">
    <i class="fa fa-arrow-left fa-2x  post-comment" aria-hidden="true"></i>
  </div>

    <% stories.each do |story|%>
      <div class="bb">
        <div class="row ">
          <div class="flex">
            <div class="story_profile_picture">
                <%=story_profile_picture(story.user)%>
            </div>

            <%= link_to  story.user.username,profile_path(story.user.username),class: "black-text" %>

          </div>
          <div style="margin-top:20px">
          <%= link_to story_picture(story),stories_path(story.id)%>
          </div>
          <p class="text-muted  text-s-10 " style="margin-top:20px"><%=time_ago_in_words story.created_at%> ago</p>
        </div>
      </div>
    <%end%>

  <div class="bb">
  <i class="fa fa-arrow-right fa-2x  post-comment" aria-hidden="true"></i>
  </div>
<%else%>
  <p class="flex">No story to show</p>
<%end%>

