<div class="container story-show-container">
    <div class="row">
        <div class="col-6">
        <div class="elevation">
           <%=image_tag @story.user.thumbnail ,class:"circular_img"%>
            <%= link_to  @story.user.username,profile_path(@story.user.username)%>
             <% if policy(@story).destroy?%>
                <%=link_to  stories_path(@story), method: :delete,
                  data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash fa-2x float-right m-r-10"></i>
                <%end%>
              <%end%>









          </div>
            <div class="story-image">
             <%= image_tag @story.thumbnailLarge if @story.image.present? %>
             </div>


            </div>

            </div>
</div>

