
.navbar{
  padding: 16px 16px !important;
  margin-bottom: 20px;
  margin-top: -50px;
  border-bottom: 1px solid #ddd;

  }

.m-l-40{
  margin-left: 40px;
  }

.m-t-100{
  margin-top: 100px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-l-10{
  margin-left: 20px;
}
.m-t-m10{
  margin-top: -20;
}
.m-l--10{
  margin-left: -20px;
}
.black-text{
  color: black;
  text-decoration: none;
}

.text-s-10{
  font-size: 10px;
}
.black_box{
  width: 500px;
  height: 500px;
  border: 2px solid #123;
}
 
